@page "/controls-on"

<PageTitle>Controls ON</PageTitle>

<h3>Controls ON</h3>
<Nativo_Video src=@localVideoSource controls=true autoplay=true />

@code {
    private readonly string localVideoSource = "10-seconds-of-calm-music.mp4";
}
