@page "/"

<PageTitle>Default Video Component</PageTitle>

@* DEFAULT VALUES FOR ALL PARAMETERS (placeholder video is used) *@
<h3>Default</h3>
@*<Nativo_Video />*@

<Nativo_Menu>
    <Nativo_Menu_Item Text="Home" Url="#page1" />
    <Nativo_Menu_Item Text="Specialization" Url="#page2" />
    <Nativo_Menu_Item Text="Projects" Url="#page3" />
    <Nativo_Menu_Item Text="Services" Url="#page4" />
    <Nativo_Menu_Item Text="Reviews" Url="#page5" />
    <Nativo_Menu_Item Text="Contact" Url="#page6" />
</Nativo_Menu>
