@page "/"

<PageTitle>Default Video Component</PageTitle>

@* DEFAULT VALUES FOR ALL PARAMETERS (placeholder video is used) *@
<h3>Default</h3>

<Nativo_Video />

@*For Testing*@
@*<Nativo_Video src="10-seconds-of-calm-music.mp4" autoplay=true>
    <p class="fs-1 text-white text-center">Looking for a job? Well, you're in the right place!'</p>
</Nativo_Video>*@