@inject IJSRuntime JS
@page "/"

<PageTitle>Default Video Component</PageTitle>

@* DEFAULT VALUES FOR ALL PARAMETERS (placeholder video is used) *@
<h3>Default</h3>

<Nativo_Video />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<IJSObjectReference>("import", 
                "./_content/NativoPlus.BlazorRCL/js/video.min.js");
        }
    }
}