@page "/loop-on"

<PageTitle>Loop ON</PageTitle>

<h3>Loop ON</h3>
<Nativo_Video src=@localVideoSource autoplay=true loop=true />

@code {
    private readonly string localVideoSource = "10-seconds-of-calm-music.mp4";
}
