/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #cee002;
}

.scrollbar {
    margin: 6.8rem 0 0;
    height: 1px;
    background: #3c3c3c;
    line-height: 0;
}

.scrollbar .handle {
    position: relative;
    top: -2px;
    width: 100px;
    height: 3px;
    background: #999999;
    cursor: pointer;
}

.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

.right-boxed {
    float: right;
    margin-right: 1.7rem;
}

/* Menu */

.menu-top {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #272727;
    text-align: center;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #272727;
    text-align: center;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.menu-right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #272727;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.menu-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #272727;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.close-menu {
    position: relative;
    margin-top: 2.3rem;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-list {
    opacity: 0;
    position: relative;
    margin: 5rem 3rem;
    height: 460px;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 600;
    letter-spacing: -0.025rem;
    list-style: none;
    padding: 20px 40px;
    -webkit-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem);
    transform: translateY(3rem);
    -webkit-transition: transform 0.5s 0.6s ease, opacity 0.5s 0.6s ease;
    -o-transition: transform 0.5s 0.6s ease, opacity 0.5s 0.6s ease;
    transition: transform 0.5s 0.6s ease, opacity 0.5s 0.6s ease;
}

.menu-top.menu-is-opened, .menu-bottom.menu-is-opened {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
}

.menu-left.menu-is-opened, .menu-right.menu-is-opened {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
}

.menu-is-opened .menu-list {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    opacity: 1;
}

.menu-is-closed .menu-list {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0;
}

/* Media queries (Mobile) */

@media (min-height: 600px) {
    .menu-list {
        margin: 7rem 3rem;
    }
}

@media (min-width: 768px) {
    .menu-right, .menu-left {
        width: 50%;
    }

    .right-boxed {
        margin-right: 3rem;
    }
}

@media (min-width: 992px) {
    .menu-right, .menu-left {
        width: 35%;
    }

    .right-boxed {
        margin-right: 4.2857rem;
    }
}