@using static NativoPlus.BlazorRCL.AllEnumerations

<div class="@(ToggleState ? "menu-is-opened" : "menu-is-closed") @MenuClass">
    <span class="close-menu icon-cross2 right-boxed" @onclick=@(() => ToggleState = false)></span>
    <ul class="menu-list">
        @ChildContent
    </ul>
</div>

@code {
    [Parameter]
    public bool ToggleState { get; set; } = false;

    [Parameter]
    public MenuPosition? Position { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string? MenuClass;

    protected override void OnInitialized() => SetMenuClass();

    private void SetMenuClass()
    {
        switch (Position)
        {
            case MenuPosition.Right:
                MenuClass = "menu-right";
                break;
            case MenuPosition.Left:
                MenuClass = "menu-left";
                break;
            case MenuPosition.Top:
                MenuClass = "menu-top";
                break;
            case MenuPosition.Bottom:
                MenuClass = "menu-bottom";
                break;
            default:
                MenuClass = "menu-right";
                break;
        }
    }
}

<link href="./_content/NativoPlus.BlazorRCL/css/linearicons.css" rel="stylesheet" />